*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{

  font-family: sans-serif;
}

.speech{

  margin: 50px auto;
  width: 500px;
}

.group{

margin: 7px 0;

}
textarea{
width: 100%;
padding: 5px 10px;
border: 1px solid silver;
outline: none;
border-radius: 3px;


}
h3{

  margin-bottom: 10px;
}

button{

width: 100px;
display: block;
padding: 10px 22px;
color: silver;
font-weight: bold;
border: none;
outline: none;
cursor: pointer;
background-color: #9b59b6;
}